#green_b {
    height: 500px;
    background-color: rgb(72, 112, 33);
    color: white;
}

#green_b h1 {
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#black_b {
    height: 900px;
    background-color: rgb(66, 66, 66);
}

.col {
    padding: 2% !important;
}

footer {
    background-color: black;
    height: 20vh;
}
