.cintro {
    height: fit-content; 
    padding: 4% 2% 2% 2%;
    background-color: rgba(0, 0, 0, .5);
    font-weight: bold; 
    position: absolute; 
    top: 25%;
    right: 0;
    color: white; 
    border-radius: 10px 0 0 10px;
} 

.cintro h2 {
    font-weight: bold;
}

@media (min-width: 1261px) {
    .cintro {
        width: 60%;
    }
}

@media (max-width: 1261px) {
    .cintro {
        width: 80%;
    }
}

.find {
    font-weight: bold !important;
    font-size: 1rem; 
    font-weight: bold; 
    margin: 4% 06% 2% 0; 
    float: right;
}

#green_b {
    background-color: rgb(72, 112, 33);
    color: white;
}

#green_b h1 {
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#black_b {
    height: fit-content;
    background-color: rgb(66, 66, 66);
    color: white;
}

#black_b h1 {
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.col {
    padding: 2% !important;
}

#card {
    background-color: inherit; 
    color: inherit;
    border-color: white;
    text-align: center;
    
}

#card img {
    width: 60%;
    height: 60%;
}

#cardlink {
    text-decoration: none;
    color: white;
}

.col a:hover {
    #card {
        transform: scale(1.05);
        box-shadow: 1px 4px 8px white;
        transition: 450ms;
    }
}