.cintro {
    width: fit-content; 
    height: fit-content; 
    margin: 12%; 
    background-color: rgba(0, 0, 0, .45);
    font-weight: bold; 
    position: absolute; 
    top: 0; 
    color: white; 
    border-radius: 10px;
} 


#green_b {
    background-color: rgb(72, 112, 33);
    color: white;
}

#green_b h1 {
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#black_b {
    height: fit-content;
    background-color: rgb(66, 66, 66);
    color: white;
}

#black_b h1 {
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.col {
    padding: 2% !important;
}

footer {
    background-color: black;
    height: 20vh;
}

#card {
    background-color: inherit; 
    color: inherit;
    border-color: white;
    text-align: center;
    
}

#card img {
    width: 60%;
    height: 60%;
}

#cardlink {
    text-decoration: none;
    color: white;
}

.col a:hover {
    #card {
        transform: scale(1.05);
        box-shadow: 1px 4px 8px white;
        transition: 450ms;
    }
}