h2 {
    font-size: clamp(1.5rem, 12vw + 1rem, 2.5rem) !important;
}


.content {
    width: 80%;
    height: fit-content;
    margin: auto;
    padding: 2%;
}

.scrollnav span {
    margin-left: 8%;
}

.scrollnav a {
    font-weight: bolder;
    width: 100%;
    border-bottom: black 2px solid;
    padding: 1.5% 0 1.5% 0;
}

.scrollnav img {
    height: 2vw;
    width: 3vw;
    float: right;
}

.box {
    display: block;
}

.box p {
    width: 55%;  
    float: left; 
    word-wrap: break-word;
}

.box img {
    float: right;
    width: 41%; 
    height: 96%; 
}

#titlecard {
    width: 100%;
    background-color: #7ac242;
    color: white;
    text-align: center;
    font-weight: bolder;
    position: absolute; 
    bottom: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

@media (min-width: 992px) {
    
    #head_img {
        background-image: url("img/thesun.webp");
    
        /* Set a specific height */
        min-height: 500px;
    
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        position: relative;
    
    }

    #titlecard {
        height: 70px;
    }

    .scrollnav {
        float: left;
        width: 44%;
        margin-top: 20px;
        height: fit-content;
    }

    .scrollnav a {
        font-size: 1.5rem;
    }

    .scrollnav a:hover {
        font-size: calc(1.5rem + 2px);
    }

    .box {
        float: right;
        width: 56%;
        margin-top: 20px;
        height: fit-content;
        
    }

    .box p { 
        font-size: 1.2vw;
        padding-left: 8%;
        padding-top: 3%; 
    }

}

@media (max-width: 992px) { 

    #head_img {
        background-image: url("img/thesun.webp");
    
        /* Set a specific height */
        min-height: 300px;
    
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        position: relative;
    
    }

    .body {
        padding-top: 10px;
    }

    .scrollnav {
        width: 100%;
        height: fit-content;
    }

    .scrollnav a {
        font-size: clamp(.8rem, 1vw, 2.5vw);
    }

    .scrollnav a:hover {
        font-size: calc(.8rem + 2px);
    }

    .box {
        width: 100%;
        height: max-content;
        margin-top: 20px;
        overflow: hidden;
    }

    .box p { 
        font-size: clamp(1vw, 2.5vw, 1.3rem);
        padding-left: 10%;
        padding-top: 3%; 
    }

}

footer {
    background-color: black;
    height: 20vh;
}



.img-container {
    height: fit-content;
    width: 100%;
    text-align: center;
}