body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar-brand {
    border: 0 !important;
    padding: 0 !important; 
    background-color: transparent !important;
}

#navBackground {
    background: linear-gradient(to top, transparent 0%, black 100%);
    position: absolute;
    z-index: 1;
    width: 100%;
}

#navBackground a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    border-radius: 10px;
}

#navBackground a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #7ac242;
    border-radius: 10px;
}

#logo {
    height: 70px;
}

nav li {
    float: right;
}

.dropdown-menu {
    background-color: rgb(66, 66, 66) !important;
}

.dropdown-menu li {
    float: left;
    width: 100%;
}

#seperator {
    border-right: #fff 2px solid;
    padding: 0 10px 0 10px;
    font-weight: 300;
}
 
@media (min-width: 1261px) { 

#carousel {
    height: 90vh;
}

}